{%  extends "home/header.html" %}

{% block content %}

{% if error_note %} <p>{{ error_note }}</p>{% endif %}
{% if 'faculty' not in request.session %}
<form method="post" action="{% url 'home:login' %}">
    {% csrf_token %}
    <label>
        E-mail: <input type="text" name="email"  class="form-control" >
    </label>
    <label>
        Password: <input type="password" name="password" class="form-control">
    </label>
    <label>
        <input class="btn btn-primary" type="submit" value="Login" name="submit">
    </label>
</form>
{% endif %}
{% endblock %}