{%  extends "home/main_dashboard.html" %}

{% block dashboard %}
{% load custom_tags %}
<table CLASS="table table-stripped table-hover">

{% if 'student' in request.session %}
	<thead>
		<tr>
			<th>Date</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		{% for attendance in attendance_data  %}
		<tr>
			<td>{{ attendance.attendance_date }}</td>
			{% with attendance.student|split:"," as attndnc %}
			{% with student_data.pk|int_to_str as studnt_id %}
			{% if studnt_id in attndnc %}
			<td><span  style="background-color: rgb(163, 228, 163)">{{ ' Present ' }}</span></td>
			{% else %}
			<td>{{ ' Absent ' }}</td>
			{% endif %}
			{% endwith %}
			{% endwith %}

		</tr>
		{% endfor %}
	</tbody>
{% endif %}

</table>
{% endblock %}